.apexcharts-menu {
  background-color: #ffffff!important;
  color: #000000!important;
}

.apexcharts-menu-item:hover {
  background-color: #d1d2dc!important;
}

.apexcharts-tooltip {
  color: #043927!important;
}
